<!DOCTYPE html>
<html lng="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>GCU</title>
    <link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="js/loginController.js"></script>
</head>

<body>
<!--Start Header-->
<div ng-app="app" ng-controller="appCtrl as userLogin">
<img src="img/imagen_institucional.jpg" width="80%" height="70%"/>
    <br>
    <br>
<h2>Inicie sesion en GCU: </h2>
<br>
<section>
    <form ng-submit="userLogin.enviar()">
        Nombre: <input type="search" ng-model="userLogin.fdatos.userName">
        <br>
        <br>
        Password: <input type="password" ng-model="userLogin.fdatos.password">
        <br>
        <br>
        <input type="submit" value="Ingresar">
    </form>
</section>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="plugins/tinymce/tinymce.min.js"></script>
<script src="plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="js/devoops.js"></script>

</body>
</html>