<!DOCTYPE html>
<html lng="es" ng-app="Listado_Materias">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>GCU</title>
    <link href="plugins/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    <link href="css/style.css" rel="stylesheet">

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="js/controllersGcu.js"></script>
</head>

<body ng-controller="PlanificacionImparController as controlador">
<!--Start Header-->
<div id="screensaver">
    <canvas id="canvas"></canvas>
    <i class="fa fa-lock" id="screen_unlock"></i>
</div>
<header class="navbar">
    <div class="container-fluid expanded-panel">
        <div class="row">
            <div id="logo" class="col-xs-12 col-sm-2">
                <a href="dashboard.html">GCU</a>
            </div>
            <div id="top-panel" class="col-xs-12 col-sm-10">
                <div class="row">
                    <div class="col-xs-8 col-sm-4">

                    </div>
                    <div class="col-xs-4 col-sm-8 top-panel-right">
                        <ul class="nav navbar-nav pull-right panel-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle account" data-toggle="dropdown">
                                    <i class="fa fa-angle-down pull-right"></i>
                                    <div class="user-mini pull-right">
                                        <span class="welcome">Cerrar sesion</span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="index.html">
                                            <i class="fa fa-power-off"></i>
                                            <span>Logout</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
<div class="row">
<div id="sidebar-left" class="col-xs-2 col-sm-2">
    <ul class="nav main-menu">
        <li>
            <a href="dashboard.html" class="dropdown-toggle">
                <i class="fa fa-dashboard"></i>
                <span class="hidden-xs">Dashboard</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="planes-estudio.html" class="dropdown-toggle">
                <i class="fa fa-table"></i>
                <span class="hidden-xs">Consultar Planes de estudio</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="materias.html" class="dropdown-toggle">
                <i class="fa fa-table"></i>
                <span class="hidden-xs">Consultar Materias Plan 2008</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="planificacionPar.html" class="dropdown-toggle">
                <i class="fa fa-table"></i>
                <span class="hidden-xs">Planificar Cuatrimestres Pares Plan 2008 </span>
            </a>
        </li>
        <li class="dropdown">
            <a href="planificacionImpar.html" class="active ajax-link">
                <i class="fa fa-table"></i>
                <span class="hidden-xs">Planificar Cuatrimestres Impares Plan 2008 </span>
            </a>
        </li>
        <li class="dropdown">
            <a href="upload.html" class="dropdown-toggle">
                <i class="fa fa-table"></i>
                <span class="hidden-xs">Actualizar estado de alumnos</span>
            </a>
        </li>
    </ul>
</div>
<!--Start Content-->
<div id="content" class="col-xs-12 col-sm-10">
<div id="ajax-content-new">
<br>
<div class="row">
<div class="col-xs-12 col-sm-10">
<div class="box">
<div class="box-header">
    <div class="box-name">
        <i class="fa fa-table"></i>
        <span>Planificacion de cuatrimestres - Plan 2008</span>
    </div>
    <div class="no-move"></div>
</div>
<div id="divImpar" class="box-content">
    <button type="button" ng-click="controlador.refresh();">Limpiar planificacion</button>
    <br>
    <br>
    <label>Cambiar planificacion </label>
    <br>
    <br>
    <form ng-submit="controlador.change();" >
        <label>Codigo de materia: </label>
        <input type="search" ng-model="controlador.fdatos.idMateria" placeholder="Codigo de materia" required>
        <br>
        <br>
        <label>Numero de nuevo dia: </label>
        <input type="search" class="input-block-level" ng-model="controlador.fdatos.nuevoDia" placeholder="Numero de nuevo dia" required>
        <br>
        <br>
        <label>Ingrese el numero de dia correspondiente: Lunes: 2, Martes:3, Miercoles: 4, Jueves: 5, Viernes: 6, Sabado: 7</label>
        <label>Si la materia es de 2 dias, separelos por "," .</label>
        <br>
        <br>
        <input class="btn btn-large btn-info" type="submit" value="Cambiar de dia">
    </form>
    <br>
    <br>
    <label>Score cuatrimestres impares : </label>
    <label>{{scoreUnificadoImpar}}</label>
    <br>
    <br>
    <label>Fecha ultima actualizacion :</label>
    <label>{{fechaActualizacion}}</label>
    <br>
    <br>
    <table class="table">
        <thead bgcolor="#E0F8F7">
        <tr class="info">
            <th class="span1"><strong>Cantidad de materias</strong></th>
            <th class="span1"><strong>Cantidad de alumnos</strong></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="unScore in scoresImpares">
            <td>{{unScore.cantidadMaterias}}</td>
            <td>{{unScore.alumnos.length}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <label>Primer cuatrimestre (1 año - 1 cuatrimestre)</label>
    <br>
    <br>
    <label>Score primer cuatrimestre : </label>
    <label>{{scorePrimerCuatri}}</label>
    <br>
    <br>
    <table class="table">
        <thead bgcolor="#E0F8F7">
        <tr class="info">
            <th class="span1"><strong>Lunes</strong></th>
            <th class="span1"><strong>Martes</strong></th>
            <th class="span1"><strong>Miércoles</strong></th>
            <th class="span1"><strong>Jueves</strong></th>
            <th class="span3"><strong>Viernes</strong></th>
            <th class="span1"><strong>Sábado</strong></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="primerCuatri in planificacionPrimerCuatri">
            <td>{{primerCuatri.lunes.materia.materia.codigo + '  ' + primerCuatri.lunes.materia.materia.nombre}}</td>
            <td>{{primerCuatri.martes.materia.materia.codigo + '  ' + primerCuatri.martes.materia.materia.nombre}}</td>
            <td>{{primerCuatri.miercoles.materia.materia.codigo + '  ' + primerCuatri.miercoles.materia.materia.nombre}}</td>
            <td>{{primerCuatri.jueves.materia.materia.codigo + '  ' + primerCuatri.jueves.materia.materia.nombre}}</td>
            <td>{{primerCuatri.viernes.materia.materia.codigo + '  ' + primerCuatri.viernes.materia.materia.nombre}}</td>
            <td>{{primerCuatri.sabado.materia.materia.codigo + '  ' + primerCuatri.sabado.materia.materia.nombre}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <label>Tercer Cuatrimestre (2 año - 1 cuatrimestre)</label>
    <br>
    <br>
    <label>Score tercer cuatrimestre : </label>
    <label>{{scoreTercerCuatri}}</label>
    <br>
    <br>
    <table class="table">
        <thead bgcolor="#E0F8F7">
        <tr class="info">
            <th class="span1"><strong>Lunes</strong></th>
            <th class="span1"><strong>Martes</strong></th>
            <th class="span1"><strong>Miércoles</strong></th>
            <th class="span1"><strong>Jueves</strong></th>
            <th class="span3"><strong>Viernes</strong></th>
            <th class="span1"><strong>Sábado</strong></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="tercerCuatri in planificacionTercerCuatri">
            <td>{{tercerCuatri.lunes.materia.materia.codigo + '  ' +tercerCuatri.lunes.materia.materia.nombre}}</td>
            <td>{{tercerCuatri.martes.materia.materia.codigo + '  ' +tercerCuatri.martes.materia.materia.nombre}}</td>
            <td>{{tercerCuatri.miercoles.materia.materia.codigo + '  ' +tercerCuatri.miercoles.materia.materia.nombre}}</td>
            <td>{{tercerCuatri.jueves.materia.materia.codigo + '  ' +tercerCuatri.jueves.materia.materia.nombre}}</td>
            <td>{{tercerCuatri.viernes.materia.materia.codigo + '  ' +tercerCuatri.viernes.materia.materia.nombre}}</td>
            <td>{{tercerCuatri.sabado.materia.materia.codigo + '  ' +tercerCuatri.sabado.materia.materia.nombre}}</td>
        </tr>

        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <label>Quinto Cuatrimestre (3 año - 1 cuatrimestre)</label>
    <br>
    <br>
    <label>Score quinto cuatrimestre : </label>
    <label>{{scoreQuintoCuatri}}</label>
    <br>
    <br>
    <table class="table">
        <thead bgcolor="#E0F8F7">
        <tr class="info">
            <th class="span1"><strong>Lunes</strong></th>
            <th class="span1"><strong>Martes</strong></th>
            <th class="span1"><strong>Miércoles</strong></th>
            <th class="span1"><strong>Jueves</strong></th>
            <th class="span3"><strong>Viernes</strong></th>
            <th class="span1"><strong>Sábado</strong></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="quintoCuatri in planificacionQuintoCuatri">
            <td>{{quintoCuatri.lunes.materia.materia.codigo + '  ' + quintoCuatri.lunes.materia.materia.nombre}}</td>
            <td>{{quintoCuatri.martes.materia.materia.codigo + '  ' + quintoCuatri.martes.materia.materia.nombre}}</td>
            <td>{{quintoCuatri.miercoles.materia.materia.codigo + '  ' + quintoCuatri.miercoles.materia.materia.nombre}}</td>
            <td>{{quintoCuatri.jueves.materia.materia.codigo + '  ' + quintoCuatri.jueves.materia.materia.nombre}}</td>
            <td>{{quintoCuatri.viernes.materia.materia.codigo + '  ' + quintoCuatri.viernes.materia.materia.nombre}}</td>
            <td>{{quintoCuatri.sabado.materia.materia.codigo + '  ' + quintoCuatri.sabado.materia.materia.nombre}}</td>
        </tr>

        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <label>Septimo Cuatrimestre (4 año - 1 cuatrimestre)</label>
    <br>
    <br>
    <label>Score septimo cuatrimestre : </label>
    <label>{{scoreSeptimoCuatri}}</label>
    <br>
    <br>
    <table class="table">
        <thead bgcolor="#E0F8F7">
        <tr class="info">
            <th class="span1"><strong>Lunes</strong></th>
            <th class="span1"><strong>Martes</strong></th>
            <th class="span1"><strong>Miércoles</strong></th>
            <th class="span1"><strong>Jueves</strong></th>
            <th class="span3"><strong>Viernes</strong></th>
            <th class="span1"><strong>Sábado</strong></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="septimoCuatri in planificacionSeptimoCuatri">
            <td>{{septimoCuatri.lunes.materia.materia.codigo + '  ' + septimoCuatri.lunes.materia.materia.nombre}}</td>
            <td>{{septimoCuatri.martes.materia.materia.codigo + '  ' + septimoCuatri.martes.materia.materia.nombre}}</td>
            <td>{{septimoCuatri.miercoles.materia.materia.codigo + '  ' + septimoCuatri.miercoles.materia.materia.nombre}}</td>
            <td>{{septimoCuatri.jueves.materia.materia.codigo + '  ' + septimoCuatri.jueves.materia.materia.nombre}}</td>
            <td>{{septimoCuatri.viernes.materia.materia.codigo + '  ' + septimoCuatri.viernes.materia.materia.nombre}}</td>
            <td>{{septimoCuatri.sabado.materia.materia.codigo + '  ' + septimoCuatri.sabado.materia.materia.nombre}}</td>
        </tr>

        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <label>Noveno Cuatrimestre (5 año - 1 cuatrimestre)</label>
    <br>
    <br>
    <label>Score noveno cuatrimestre : </label>
    <label>{{scoreNovenoCuatri}}</label>
    <br>
    <br>
    <table class="table">
        <thead bgcolor="#E0F8F7">
        <tr class="info">
            <th class="span1"><strong>Lunes</strong></th>
            <th class="span1"><strong>Martes</strong></th>
            <th class="span1"><strong>Miércoles</strong></th>
            <th class="span1"><strong>Jueves</strong></th>
            <th class="span3"><strong>Viernes</strong></th>
            <th class="span1"><strong>Sábado</strong></th>
        </tr>
        </thead>

        <tbody>

        <tr ng-repeat="novenoCuatri in planificacionNovenoCuatri">
            <td>{{novenoCuatri.lunes.materia.materia.codigo + '  ' + novenoCuatri.lunes.materia.materia.nombre}}</td>
            <td>{{novenoCuatri.martes.materia.materia.codigo + '  ' + novenoCuatri.martes.materia.materia.nombre}}</td>
            <td>{{novenoCuatri.miercoles.materia.materia.codigo + '  ' + novenoCuatri.miercoles.materia.materia.nombre}}</td>
            <td>{{novenoCuatri.jueves.materia.materia.codigo + '  ' + novenoCuatri.jueves.materia.materia.nombre}}</td>
            <td>{{novenoCuatri.viernes.materia.materia.codigo + '  ' + novenoCuatri.viernes.materia.materia.nombre}}</td>
            <td>{{novenoCuatri.sabado.materia.materia.codigo + '  ' + novenoCuatri.sabado.materia.materia.nombre}}</td>
        </tr>

        </tr>
        </tbody>
    </table>
    <br>
</div>

<!--End Content-->
</div>
</div>
<!--End Container-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="plugins/jquery/jquery-2.1.0.min.js"></script>
<script src="plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
<script src="plugins/tinymce/tinymce.min.js"></script>
<script src="plugins/tinymce/jquery.tinymce.min.js"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="js/devoops.js"></script>
</body>
</html>